<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <style>
        body, .title {
            font-family: 'Karla', sans-serif
        }
    </style>
</head>
<div style="position:fixed;right:0px;margin:10px">
    <button class="uk-button uk-button-secondary" id="logout-btn">LOGOUT</button>
</div>
<form class="uk-form-stacked uk-padding-large">
    <% if(data.title){ %>
        <h3 class="title"><%- data.title %></h3>
    <% }%>
    <% if(!data.title){ %>
        <h3 class="title">New post</h3>
    <% }%> 
    <div class="uk-margin <%- id?'':'uk-hidden' %>">
        <label class="uk-form-label" for="id">ID</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="id" type="text" value="<%- id %>" disabled>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="title">Title</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="title" type="text" value="<%- data.title %>" placeholder="Shaai is beautiful">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="title">Subtitle</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="subtitle" type="text" value="<%- data.subtitle %>" placeholder="A pluggable blog to ease your life">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="title">Author</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="author" type="text" value="<%- data.author %>" placeholder="Kay">
        </div>
    </div>

    <div id="editor">
        <%- data.content %>
    </div>

    <p uk-margin>
        <button id="submitButton" class="uk-button uk-button-primary uk-button-large">SAVE</button>
        <span style="margin-left: 10px" id="saveStatus"></span>
    </p>
</form>

<!-- Froala Editor -->
<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.2/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.2/js/froala_editor.min.js'></script>
<!-- UI Kit Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">


<script>
    let form = {};
    let blogId = document.getElementById('id').value
    window.onload = () => {
        let CKeditor;
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                CKeditor = editor
            })
            .catch(error => {
                console.error(error);
            });

        document.getElementById("logout-btn").onclick = ev => {
            localStorage.clear();
            window.open('/', '_self')
        }
        let submitButton = document.getElementById("submitButton")
        let saveStatus = document.getElementById("saveStatus")

        submitButton.addEventListener("click", function (event) {
            event.preventDefault();
            saveStatus.innerHTML = 'SAVING...'
            const userToken = localStorage.getItem('userToken')
            form.content = CKeditor.getData();
            form.title = document.getElementById('title').value;
            form.subtitle = document.getElementById('subtitle').value;
            form.author = document.getElementById('author').value;
            fetch(`/blog/${blogId || ''}`, {
                method: blogId ? 'put' : 'post',
                body: JSON.stringify({ form, userToken }),
                headers: new Headers({ 'content-type': 'application/json' }),
            }).then(function (response) {
                return response.json();
            }).then(function (res) {
                saveStatus.innerHTML = 'SAVED'
                if (res.data._id && !blogId) {
                    blogId = res.data._id;
                    document.getElementById('id').value = blogId;
                    window.location = `/blog/${blogId}`
                }
            });
        });
    }
</script>